@charset "UTF-8";
/* CSS Document */
/* This is a CSS comment */


@media only screen and (max-width:1800px) {
  #feature{
    background: url(../images/smoke@0,75x.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #CC7236;
  }
}

@media only screen and (max-width:1200px) {
  #feature{
    background: url(../images/smoke@0,5x.jpg) no-repeat center top fixed;
    background-size:  cover;
    background-color: #CC7236;
  }
}

@media only screen and (max-width:600px) {
  #feature{
    background: url(../images/smoke@0,25x.jpg) no-repeat center top fixed;
    background-size: 1200px;
    background-color: #CC7236;
  }

  #contact {
    background-color: #CC7236;
    height: 100px;
    min-height: 60px;
    width: 100%;
    margin-top: -18px;
  }

  .copyright {
    left: 22%;
  }

}
