@charset "UTF-8";
/* CSS Document */
/* This is a CSS comment */

/* This is another way to control how your site appears on mobile devices. Some prefer it to the meta tag within the html. It doesn't hurt to do both, so we will. */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
/* ------------------------------- */


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

header {
  font-size: .9em;
  color: #ece6e4;
  height: 55px;
  padding: 22px 0 0 0;
  width: 100%;
  background-color: rgba(55, 54, 54, 1);
  /* box shadow */
  -webkit-box-shadow: 0px 6px 14px -4px rgba(55,54,54,1);
     -moz-box-shadow: 0px 6px 14px -4px rgba(55,54,54,1);
          box-shadow: 0px 6px 14px -4px rgba(55,54,54,1);
  position: relative;
  z-index: 1000
}

footer {
  color: #ece6e4;
  height: 35px;
  /* padding: 20px; */
  width: 100%;
  background-color: rgba(55, 54, 54, 1);
}

nav a {
  font-size: .95em;
  color: #ece6e4;
  text-decoration: none;
  margin-right: 35px;
}

nav a:hover {
  color: #CC7236;
}

#home img {
  height: 75%;
  padding: 0 0 0 25px;
  margin-bottom: 20px;
}

#home h1 {
  display: inline-block;
  vertical-align: top;
  font-weight: 100;
  font-size: 1.2em;
  margin-left: 30px;
  margin-top: 10px;
}

#menu {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  /* margin-left: 10%; */
  float: right;
  margin-right: 25px;
}

#feature {
  width: 100%;
  height: auto;
  background-color: red;
  margin-top: -18px;
  padding-bottom: 25px;
  /* background-image: url(../images/smoke.jpg); */
  background: url(../images/smoke.jpg) no-repeat center center fixed;
  background-size: cover;
}

#feature h2 {
  padding-top:20%;
  letter-spacing: .6em;
  width 200px;
  text-align: center;
  margin: 0 auto;
}

#feature iframe {
  padding-top: 55px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 20%;
  width: 60%;
  height: 1270px;
  overflow: hidden;
}


#contact {
  background-color: #CC7236;
  height: auto;
  min-height: 60px;
  width: 100%;
  margin-top: -18px;
}

#contact small {
  font-size: .65em;
  color: rgba(255, 255, 255, .3);
  float: right;
  margin-top: 10px;
  padding-right: 15px;
}

.CUMULUS {
  font-size: 30.3px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #ece6e4;
}


/* resize contact form for smaller widths */
@media only screen
  and (max-width: 950px)  {
      #feature iframe {
        width: 85%;
        height: 1300px;
        margin-left: 8%;
      }
}

/* fix feature area headline */
@media only screen
  and (max-width: 775px)  {
    #feature iframe {
      width: 85%;
      height: 1400px;
      margin-left: 8%;
    }
    #feature h2 {
      font-size: 1.25em;
      letter-spacing: .5em;
    }
}

/* implement mobile menu */
@media only screen
  and (max-width: 650px)  {
    #feature h2 {
      padding: 20% 15px 0 15px;
    }
}

@media only screen and (min-width: 1115px;) {
  #feature iframe {

    height: 800px;
  }

  #feature h2 {
    padding-top:10%;
    padding-bottom: 40px;
  }
} 
